@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #AB7C49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header h1 {
  display: none;
}

header .logo {
  width: 30%;
}

header .logo a {
  width: 100%;
  margin-top: 2%;
}

header .logo a .logo {
  width: 100%;
}

header .menu {
  width: 70%;
  margin-left: 5%;
  margin-top: 1.5%;
}

header .menu ul {
  width: 100%;
  padding: 2%;
}

header .menu ul li {
  display: inline;
  width: 100%;
  padding-right: 10%;
}

header .menu ul li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  color: #FDEEE2;
}

header .menu ul li a:hover {
  color: #F4DBC5;
}

header .menu ul li i {
  color: #FDEEE2;
}

header .menuHamburguesa {
  background-color: #AB7C49;
  display: none;
  position: relative;
  height: 50px;
  width: 20%;
  margin-left: 45%;
}

header .menuHamburguesa .desplegable {
  width: 10%;
  height: 50px;
}

header .menuHamburguesa .desplegable:hover .dropdown {
  display: block;
}

header .menuHamburguesa .desplegable i {
  position: absolute;
  left: 50%;
  top: 38%;
  color: #FDEEE2;
}

header .menuHamburguesa .desplegable .dropdown {
  display: none;
  width: 100%;
  position: absolute;
  top: 40px;
  right: 65px;
  padding: 2%;
  background-color: #FDEEE2;
}

header .menuHamburguesa .desplegable .dropdown li {
  display: block;
  padding: 4% 2%;
}

header .menuHamburguesa .desplegable .dropdown li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  color: #020202;
}

header .menuHamburguesa .iconoCarrito {
  position: absolute;
  top: 35%;
  left: 15%;
  color: #FDEEE2;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .columna {
  width: 25%;
  margin: 5% 5% 0% 5%;
}

.container .columna .categorias h2 {
  font-size: 1.2em;
  padding-bottom: 2%;
  border-bottom: #AB7C49 solid 2px;
}

.container .columna .categorias form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.container .columna .categorias form label {
  padding-bottom: 5%;
}

.container .columna .categorias form label input {
  float: right;
  cursor: pointer;
}

.container .columna .carrito h2 {
  font-size: 1.2em;
  padding-bottom: 2%;
  margin-bottom: 5%;
  border-bottom: #AB7C49 solid 2px;
}

.container .columna .carrito .hidden {
  display: none;
}

.container .columna .carrito .contenedorItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #AB7C49 solid 2px;
}

.container .columna .carrito .contenedorItem img {
  width: 40%;
  height: 30%;
}

.container .columna .carrito .contenedorItem .datosItem .nombreProductoCarrito {
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}

.container .columna .carrito .contenedorItem .datosItem .cajaItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .columna .carrito .contenedorItem .datosItem .cajaItem p {
  font-size: 1.2em;
  font-weight: 700;
}

.container .columna .carrito .contenedorItem .datosItem .cajaItem p .cantidadItem {
  margin-right: 2%;
}

.container .columna .carrito .contenedorItem .datosItem .cajaItem .precioItem {
  font-size: 1.2em;
  font-weight: 700;
  color: gray;
  margin-left: 2%;
}

.container .columna .carrito .contenedorItem .datosItem .cajaItem button {
  border: none;
  color: black;
  background-color: white;
  font-size: 1.5em;
  margin-top: 1%;
  margin-left: 30%;
  cursor: pointer;
}

.container .contenedorProductos {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.container .contenedorProductos .cafeGrano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .contenedorProductos .cafeGrano .producto {
  width: 30%;
  border: black solid 1px;
  margin: 1% 0;
  padding: 1%;
}

.container .contenedorProductos .cafeGrano .producto .imagenProducto {
  width: 60%;
  padding: 1%;
  margin-left: 20%;
}

.container .contenedorProductos .cafeGrano .producto .nombreProducto {
  font-size: 1em;
  color: #020202;
  text-align: center;
  height: 15%;
}

.container .contenedorProductos .cafeGrano .producto .precio {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.container .contenedorProductos .cafeGrano .producto .botonCarrito {
  margin: 2% 15%;
  padding: 5%;
  width: 70%;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #AB7C49;
  cursor: pointer;
}

.container .contenedorProductos .cafeGrano .producto .botonCarrito:hover {
  background-color: #FDEEE2;
}

.container .contenedorProductos .cafeCaliente {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .contenedorProductos .cafeCaliente .producto {
  width: 30%;
  border: black solid 1px;
  margin: 1% 0;
  padding: 1%;
}

.container .contenedorProductos .cafeCaliente .producto .imagenProducto {
  width: 60%;
  padding: 1%;
  margin-left: 20%;
}

.container .contenedorProductos .cafeCaliente .producto .nombreProducto {
  font-size: 1em;
  color: #020202;
  text-align: center;
  height: 10%;
}

.container .contenedorProductos .cafeCaliente .producto .precio {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.container .contenedorProductos .cafeCaliente .producto .botonCarrito {
  margin: 5% 15%;
  padding: 5%;
  width: 70%;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #AB7C49;
  cursor: pointer;
}

.container .contenedorProductos .cafeCaliente .producto .botonCarrito:hover {
  background-color: #FDEEE2;
}

.container .contenedorProductos .cafeFrio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .contenedorProductos .cafeFrio .producto {
  width: 30%;
  border: black solid 1px;
  margin: 1% 0;
  padding: 1%;
}

.container .contenedorProductos .cafeFrio .producto .imagenProducto {
  width: 60%;
  padding: 1%;
  margin-left: 20%;
}

.container .contenedorProductos .cafeFrio .producto .nombreProducto {
  font-size: 1em;
  color: #020202;
  text-align: center;
  height: 8%;
}

.container .contenedorProductos .cafeFrio .producto .precio {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.container .contenedorProductos .cafeFrio .producto .botonCarrito {
  margin: 2% 15%;
  padding: 5%;
  width: 70%;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #AB7C49;
  cursor: pointer;
}

.container .contenedorProductos .cafeFrio .producto .botonCarrito:hover {
  background-color: #FDEEE2;
}

.container .contenedorProductos .eliminarCategoria {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5%;
  padding: 5%;
  background-color: #AB7C49;
}

footer .contenedor3 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .contenedor3 a img {
  width: 100%;
}

footer .contenedor3 .redesSociales {
  padding-top: 20%;
}

footer .contenedor3 .redesSociales .titulosfooter {
  margin-bottom: 2%;
  font-size: 1.2em;
  color: #FDEEE2;
  border-bottom: #FDEEE2 solid 3px;
}

footer .contenedor3 .redesSociales .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
  padding-top: 2%;
}

footer .contenedor3 .redesSociales .instagram a {
  width: 20%;
  height: 80%;
}

footer .contenedor3 .redesSociales .instagram a img {
  width: 50%;
  padding-top: 20%;
}

footer .contenedor3 .redesSociales .instagram p {
  font-size: 1em;
  color: #FDEEE2;
}

footer .contenedor3 .redesSociales .facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .contenedor3 .redesSociales .facebook a {
  width: 20%;
  height: 50%;
}

footer .contenedor3 .redesSociales .facebook a img {
  width: 50%;
  padding-top: 20%;
}

footer .contenedor3 .redesSociales .facebook p {
  font-size: 1em;
  color: #FDEEE2;
}

footer .contenedor3 .redesSociales .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5%;
}

footer .contenedor3 .redesSociales .twitter a {
  width: 20%;
  height: 50%;
}

footer .contenedor3 .redesSociales .twitter a img {
  width: 50%;
  padding-top: 20%;
}

footer .contenedor3 .redesSociales .twitter p {
  font-size: 1em;
  color: #FDEEE2;
}

footer .linksRapidos {
  width: 30%;
}

footer .linksRapidos .link {
  display: block;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  padding: 4% 8%;
}

footer .linksRapidos .link a {
  text-decoration: none;
  color: #FDEEE2;
}

footer .linksRapidos .link a:hover {
  font-weight: 700;
  color: #FDEEE2;
  border-bottom: #FDEEE2 solid 3px;
}

footer .location {
  width: 30%;
}

footer .location .titulosfooter {
  margin-bottom: 2%;
  font-size: 1.2em;
  color: #FDEEE2;
  border-bottom: #FDEEE2 solid 3px;
}

footer .location .locacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 5%;
}

footer .location .locacion img {
  width: 7%;
  height: 7%;
  padding-right: 5%;
  padding-top: 7%;
}

footer .location .locacion p {
  width: 80%;
  font-size: 1em;
  color: #FDEEE2;
}

footer .location .whatsup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

footer .location .whatsup img {
  padding-right: 5%;
  padding-top: 5%;
  width: 7%;
  height: 7%;
}

footer .location .whatsup p {
  font-size: 1em;
  color: #FDEEE2;
  padding-top: 2%;
}

@media (max-width: 1440px) {
  header .menu ul li a {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  header .menu ul li {
    padding-right: 5%;
  }
  header .menu ul li a {
    font-size: 1em;
  }
  .container .contenedorProductos .cafeGrano .producto .nombreProducto {
    height: 27%;
  }
  .container .contenedorProductos .cafeGrano .producto .precio {
    font-size: 1.2em;
  }
  .container .contenedorProductos .cafeCaliente .producto .precio {
    font-size: 1.2em;
  }
  .container .contenedorProductos .cafeFrio .producto .precio {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  header .menu {
    display: none;
  }
  header .menuHamburguesa {
    display: block;
  }
  .container .columna {
    width: 20%;
  }
  .container .columna .categorias h2 {
    font-size: 1em;
  }
  .container .columna .categorias form label {
    font-size: 0.8em;
  }
  .container .columna .carrito h2 {
    font-size: 1em;
  }
  .container .columna .carrito .contenedorItem img {
    width: 40%;
    height: 30%;
  }
  .container .columna .carrito .contenedorItem .datosItem .nombreProductoCarrito {
    margin-bottom: 0%;
    margin-top: 0%;
    font-size: .8em;
  }
  .container .columna .carrito .contenedorItem .datosItem .cajaItem p {
    font-size: .8em;
  }
  .container .columna .carrito .contenedorItem .datosItem .cajaItem p .cantidadItem {
    margin-right: 0%;
  }
  .container .columna .carrito .contenedorItem .datosItem .cajaItem .precioItem {
    font-size: .8em;
  }
  .container .columna .carrito .contenedorItem .datosItem .cajaItem button {
    font-size: 1em;
    margin-bottom: 5%;
    margin-left: 15%;
  }
  .container .contenedorProductos .cafeGrano .producto .imagenProducto {
    width: 90%;
    margin-left: 5%;
  }
  .container .contenedorProductos .cafeGrano .producto .nombreProducto {
    height: 20%;
    font-size: .8em;
    margin-bottom: 10%;
  }
  .container .contenedorProductos .cafeGrano .producto .precio {
    font-size: 1em;
    margin-bottom: 5%;
  }
  .container .contenedorProductos .cafeGrano .producto .botonCarrito {
    font-size: .7em;
    width: 90%;
    margin: 2% 5%;
  }
  .container .contenedorProductos .cafeCaliente .producto .imagenProducto {
    width: 90%;
    margin-left: 5%;
  }
  .container .contenedorProductos .cafeCaliente .producto .nombreProducto {
    height: 5%;
    font-size: .8em;
    margin-bottom: 10%;
  }
  .container .contenedorProductos .cafeCaliente .producto .precio {
    font-size: 1em;
    margin-bottom: 5%;
  }
  .container .contenedorProductos .cafeCaliente .producto .botonCarrito {
    font-size: .7em;
    width: 90%;
    margin: 2% 5%;
  }
  .container .contenedorProductos .cafeFrio .producto .imagenProducto {
    width: 90%;
    margin-left: 5%;
  }
  .container .contenedorProductos .cafeFrio .producto .nombreProducto {
    height: 5%;
    font-size: .8em;
    margin-bottom: 10%;
  }
  .container .contenedorProductos .cafeFrio .producto .precio {
    font-size: 1em;
    margin-bottom: 5%;
  }
  .container .contenedorProductos .cafeFrio .producto .botonCarrito {
    font-size: .7em;
    width: 90%;
    margin: 2% 5%;
  }
  footer .contenedor3 a img {
    height: 100%;
  }
  footer .contenedor3 .redesSociales .instagram a img, footer .contenedor3 .redesSociales .facebook a img, footer .contenedor3 .redesSociales .twitter a img {
    width: 70%;
  }
  footer .contenedor3 .redesSociales .instagram p, footer .contenedor3 .redesSociales .facebook p, footer .contenedor3 .redesSociales .twitter p {
    font-size: 0.8em;
  }
  footer .location .locacion img {
    width: 20%;
  }
  footer .location .locacion p {
    font-size: .8em;
  }
  footer .location .whatsup img {
    width: 20%;
    height: 20%;
  }
  footer .location .whatsup p {
    font-size: .8em;
  }
}

@media (max-width: 480px) {
  header .logo {
    width: 40%;
  }
  header .menuHamburguesa .desplegable .dropdown {
    width: 150%;
    right: 34%;
  }
  .container .columna {
    width: 35%;
  }
  .container .contenedorProductos {
    width: 55%;
  }
  .container .contenedorProductos .cafeGrano .producto {
    width: 90%;
  }
  .container .contenedorProductos .cafeGrano .producto .nombreProducto {
    height: 12%;
    margin-bottom: 2%;
  }
  .container .contenedorProductos .cafeGrano .producto .botonCarrito {
    margin: 2% 5% 10% 5%;
  }
  .container .contenedorProductos .cafeCaliente .producto {
    width: 90%;
  }
  .container .contenedorProductos .cafeCaliente .producto .nombreProducto {
    height: 8%;
    margin-bottom: 2%;
  }
  .container .contenedorProductos .cafeCaliente .producto .botonCarrito {
    margin: 2% 5% 10% 5%;
  }
  .container .contenedorProductos .cafeFrio .producto {
    width: 90%;
  }
  .container .contenedorProductos .cafeFrio .producto .nombreProducto {
    height: 8%;
    margin-bottom: 2%;
  }
  .container .contenedorProductos .cafeFrio .producto .botonCarrito {
    margin: 2% 5% 10% 5%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .contenedor3 {
    width: 60%;
  }
  footer .contenedor3 .redesSociales {
    padding-top: 3%;
  }
  footer .contenedor3 .redesSociales .titulosfooter {
    display: none;
  }
  footer .contenedor3 .redesSociales .instagram p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .instagram a {
    width: 20%;
    padding-left: 0;
    padding-top: 2%;
  }
  footer .contenedor3 .redesSociales .instagram a img {
    width: 50%;
  }
  footer .contenedor3 .redesSociales .facebook p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .facebook a {
    width: 20%;
    padding-left: 0;
    padding-top: 2%;
  }
  footer .contenedor3 .redesSociales .facebook a img {
    width: 50%;
  }
  footer .contenedor3 .redesSociales .twitter p {
    font-size: 0.8em;
  }
  footer .contenedor3 .redesSociales .twitter a {
    width: 20%;
    padding-left: 0;
    padding-top: 2%;
  }
  footer .contenedor3 .redesSociales .twitter a img {
    width: 50%;
  }
  footer .linksRapidos {
    width: 31%;
  }
  footer .linksRapidos .link {
    padding: 10% 0;
    font-size: .8em;
  }
  footer .location {
    width: 95%;
  }
  footer .location .titulosfooter {
    font-size: 1em;
  }
  footer .location .locacion {
    padding-bottom: 0;
  }
  footer .location .locacion img {
    width: 6%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  footer .location .locacion p {
    font-size: 0.8em;
  }
  footer .location .whatsup img {
    width: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }
  footer .location .whatsup p {
    font-size: 0.8em;
    padding-top: 0;
  }
}
/*# sourceMappingURL=style2.css.map */